:root {
//   --bg-color: #ffffff;
//   --text-color: #222222;
//   --primary-color: #0bc9c3;
//   --card-shadow:0 4px 20px rgba(0, 0, 0, 0.1);

--bg-color: #11071F;   // Deep dark purple background
  --text-color: #C9C6E4;  // Softer white text
  --primary-color: #ffb400;  // Golden yellow for branding
  --card-bg: #1A1A1A;  // Dark gray for depth
  --secondary-text: #B3B3B3; 
  


}

